@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", sans-serif;
  background-image: url('./assets/image.png');
  background-image: url('./assets/image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-section-img {
  background-image: url("./assets/ApartmentCoderSm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .input-field {
    @apply sm:text-base text-sm w-full px-4 py-3 rounded-lg  bg-gray-50 text-gray-600 placeholder-gray-400 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-primary dark:bg-gray-800 dark:text-white dark:placeholder-gray-400 dark:border-gray-600;
  }
  td{
    @apply py-2
  }
}

/* Add to your global styles or Tailwind config */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 15s linear infinite;
}